.filter {
  &__container {
    width: 70%;
    margin: auto;
    @media screen and (max-width: 500px) {
      width: 90%;
    }
  }
  &__form {
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 3rem;
    &__label {
      font-weight: 700;
    }
    &_input {
      color: red;
      margin: 1.5rem;
    }
    &__submit-container {
      width: 100%;
      @media screen and (max-width: 831px) {
        display: flex;
        justify-content: center;
      }
    }
    &__sortByDate {
      font-size: 1.5rem;
      width: 30%;
      text-align: end;
      margin-left: auto;
      position: relative;
      top: 4rem;
      @media screen and (max-width: 831px) {
        top: 0;
      }
    }
    &__row {
      display: flex;
      align-items: center;
      row-gap: 2rem;
    }
    &__img {
      &-bg {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0.5rem 1rem;
        border-radius: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.5s;
        background-color: var(--color-font-secondary);
        color: #fff;
        text-align: center;
        margin: 1rem 0;
      }
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
