:root {
  --color-font-primary: #000;
  --color-font-secondary: rgb(27, 38, 133);
  --color-white: #fff;
  --color-hover-bg: #745e5e3b;
  --font-size-primary: 2rem;
  --font-size-secondary: 1.8rem;
  --font-size-header: 3rem;
  --font-size-paragraph: 1.5rem;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--color-font-primary);
}
/* Classes for Active Links */
a.active {
  color: var(--color-white);
  border-radius: 10px;
  position: relative;
}
a.active::before {
  content: '';
  border-bottom: 2px solid orangered;
  position: absolute;
  top: 5.8rem;
  left: 0;
  width: 100%;
}
.App {
  text-align: center;
  /* Navbar Height */
  padding-top: 10rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
